<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.mapper.diagnosisTypeMapper.DiagnosisTypeMapper">
    <select id="getAllDiagnosisType" resultType="diagnosisType">
        select * from diagnosistype
    </select>
    <insert id="addDiagnosisType">
        insert into `prescriptiondata`.prescription_diagnosis(id,diagnosisId,prescriptionId)
        values (null,#{diagnosisTypeId},#{prescriptionId})
    </insert>
</mapper>