<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.mapper.PrescriptionMedicineCMapper">
    <insert id="addPrescription_PrescriptionMedicineC">
        insert into prescription_checkitemprescription(id,prescriptionId,checkItemPrescriptionId)
        values (null,#{prescriptionId},#{prescriptionMedicineCId})
    </insert>

    <select id="getAllPrescriptionMedicineCById" resultType="prescriptionMedicineC">
        select cp.*,mc.itemName as checkItemName from checkitemprescription cp
        left join prescription_checkitemprescription pc on cp.id = pc.checkItemPrescriptionId
        left join medicinedata.checkitem mc on mc.id = cp.checkItemId
        where pc.prescriptionId=#{id}
    </select>
</mapper>